@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Gilda+Display&display=swap');


body{
    font-family: Dosis, serif;
    color: black;
    background-color: #F4F4E8;
   
    

}


h1{
    font-family: Gilda Display, serif;
    font-weight: 400px;
    color: #9BA17B;
    letter-spacing: 7px;
    font-size: 250%;
    text-align: center;
    padding: 20px;
   
}

#navbar{
    text-align: center;
    font-size: 130%;
    justify-content: space-between;
    display: flex;
    padding: 30px;
    margin-top: 10px;
    background-color: #DCDCC6;
    
}

#navbar li{
    list-style: none;
    display: inline;
    font-family: Gilda Display, serif;
  
}

a{
    text-decoration: none;
    color: #9BA17B;   
}

#navbar a:hover{
    background-color: #DCDCC6;
    border-bottom: 1px solid;
}

.current{ 
    border-bottom: 1px solid;
}

*{
    margin: 0;
    padding:0;
    
}


#main-image{
   background: url('../images/tearooms_2.jpeg') no-repeat center;
   height: 700px;
   width: 100%;
   background-size: cover;

}

#image-text{
    
    background-color: #FFFEF6;
    font-family: Gilda Display, serif;
    color: #6F754D;
    width: 200px;
    height: 200px;
    bottom:30px;
    left: 30px;
    position: absolute; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    opacity: 0.9;


}

#circle-container{
    
    width:100%;
    height:200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  


}

.circle{
    background-color: #DCDCC6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #9BA17B;
    float:left;
    text-align: center;
    margin:60px;
    
    
    
}
    
  
.circle-text{

    margin: 10%;
    font-family: Gilda-Display, serif;
    padding: 30px;
    font-size: 130%;
    color: #6F754D;
    
}

.carousel{
    width: 100%;
    height: 300px;
    display: flex;
    overflow-x: auto;
    background-color: #DCDCC6;
    margin: auto;
    text-align: center;
    margin-top: 150px;

}
.carousel > div{
font-family: Gilda Display, serif;

}

.box > h2{
    padding: 50px;
    color: #6F754D;
}

.box > p{
    color: 	#808000;
    font-size: 130%;
}

.box{
    width:100%;
    height:100%;
    flex-shrink: 0;
    color:#6F754D;

}
hr{
    border: 1px solid #6F754D ;
}


footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #6F754D;
  
    
}

.social-links{
    text-align: center;
}
.social-links > li{
    display:inline;
}
.social-links i{
    font-size: 30px;
    padding: 30px;
    color:#F4F4E8;

}

.copyright{
    color:#F4F4E8;
    text-align: center;
}
.video{
    text-align:center;
    height:800px;
   
  
}
iframe{
    width:80%;
    height:80%

}
.video > h2{
    font-family: Gilda Display, serif;
    color: palevioletred;
    letter-spacing: 2px;
    padding: 60px 0 10px 0;

}
.video >h3{
    font-family: Gilda Display, serif;
    color: palevioletred;
    padding-bottom:20px ;
}

.about{
    text-align: center;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
}



.about > p{
    padding: 10px;
    font-family: Gilda Display, serif ;
    color: #6F754D;
    text-align: justify;

}

.about-header{
   letter-spacing: 4px;
   font-family: Gilda Display, serif;
   margin-bottom: 30px;
   color:palevioletred;
   
 
   
}


.hyperlink{
    color:palevioletred;
}

.tearooms1{
    background: url('../images/tearooms_1.jpeg') no-repeat center;
    height: 300px;
    width: 300px;
    background-size: cover;
    float: left;
    
   
}

.tearooms2{
    background: url('../images/afternoontea_birthday.jpeg') no-repeat center;
    height: 300px;
    width: 300px;
    background-size: cover;
    float: right;
  
    
}

.tea-garden{
    background: url('../images/afternoontea_garden.jpeg') no-repeat center;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    background-size:cover;
    
}
.tea-image{
    background: no-repeat center;
    background-size: cover;
    height: 400px;
    width: 50%;
   
}
.tea-image2{
    background: no-repeat center;
    background-size: cover;
    height: 400px;
    width: 50%;
}
.form-fields{
    padding: 1em;
    font-family: Gilda Display, serif;

}
.order-online{
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    background-color:#DCDCC6;
    border-radius: 6px;
    padding:10px;
    text-align:center;
}

.legend-title{
    font-family: Gilda Display;
    font-size:20px;
    padding:10px;
    color:#6F754D;
    letter-spacing: 2px;
    
}
#special-requests{
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    resize: none;

}
.menu-link{
    color:palevioletred;
    background-color:#F4F4E8;
    font-size:20px;
   
}


.menu{
    text-align: center;
    
}
.online-menu{
    border: double;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color:#FFFEF6;

}

.menu-heading{
    letter-spacing: 2px;
    font-family: Gilda Display,serif;
    padding:10px;
    color:#9BA17B;
    font-size: 35px;
}


.menu-sub, em> p{
    font-family: Gilda Display, serif;
    padding: 3px;
    
}
.menu-sub{
    font-family: Gilda Display, serif;
    padding: 10px;
    color: palevioletred;
}
#order-header > h2{
    text-align: center;
    color: #6F754D;
    font-family: Gilda Display, serif;
    letter-spacing: 2px;
    padding: 10px;
}

#order-button{
    padding: 10px;
    margin: 2px;
}

.float-left{
    width:100%;
    text-align: center; 
    height: 220px;
  
}

#contact-heading{
    font-family: Gilda Display, serif;
    padding: 15px;
    letter-spacing: 2px;

}

.contact-us{
    font-family: Gilda Display, serif;
    padding: 10px;

}

#contact-message{
    height: 300px;
    width: 50%;
    margin: 0 auto;
    background-color:#DCDCC6;
    text-align: center; 
    border-radius: 6px;
    margin-bottom: 20px;;

}

fieldset{
    border:none;
}
#contact{
    font-size: 20px;
    font-family: Gilda Display, serif;
    color:#6F754D;
    letter-spacing: 2px;
}
.contact-form{
    padding: 10px;
    font-family: Gilda Display, serif;


}
.contact-button{
    font-family: Gilda Display,serif;
    
}
#contact-legend{
    font-size: 20px;
    
}
#customer-message{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
}

.contact-submit-message{
    text-align: center;
}
.contact-submit-message > h2{
    font-family: Gilda Display, serif;
    letter-spacing: 2px;
    color: #808000;
    font-size: 40px;
    padding: 20px;


}

.contact-submit-message > p{
    font-size: 20px;
    color:#808000;
    padding: 10px;
}

.thanks-for-ordering{
    text-align: center;
    
}
.thanks-for-ordering > h2{
    font-family: Gilda Display, serif;
    letter-spacing: 2px;
    font-size: 40px;
    padding: 20px;
    color:#808000;
}
.thanks-for-ordering > p{
    font-size: 20px;
    color:#808000;
    padding:10px;
}