@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Gilda+Display&display=swap');


body{
    font-family: Dosis, serif;
    color: black;
    background-color: #F4F4E8;

}


h1{
    font-family: Gilda Display, serif;
    font-weight: 400px;
    color: #9BA17B;
    letter-spacing: 7px;
    font-size: 250%;
    text-align: center;
    padding: 20px;
    
    
    
}


#navbar{
    text-align: center;
    font-size: 130%;
    justify-content: space-between;
    display: flex;
    padding: 40px;
    
}

#navbar li{
    list-style: none;
    display: inline;
    font-family: Gilda Display, serif;
  
}

a{
    text-decoration: none;
    color: #9BA17B;   
}

#navbar a:hover{
    background-color: #DCDCC6;
    border-bottom: 1px solid;
}

.current{ 
    border-bottom: 1px solid;
}

*{
    margin: 0;
    padding:0;
    
}


#main-image{
   background: url('../images/tearooms_2.jpeg') no-repeat center;
   height: 700px;
   width: 100%;
   background-size: cover;

}

#image-text{
    
    background-color: #FFFEF6;
    font-family: Gilda Display, serif;
    color: #6F754D;
    width: 200px;
    height: 200px;
    bottom:30px;
    left: 30px;
    position: absolute; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    opacity: 0.9;


}

#circle-container{
    
    width:100%;
    height:300px;
    position: relative;
    margin: 0 auto;
    text-align: center;


}

.circle{
    background-color: #FFFEF6;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #9BA17B;
    float:left;
    text-align: center;
    margin: 130px;
    
    
}
    
  
.circle-text{
    margin: 0 auto;
    font-family: Gilda-Display, serif;
    padding: 50px;
    font-size: 120%;
    color: #6F754D;
    
}

.carousel{
    width: 100%;
    height: 300px;
    display: flex;
    overflow-x: auto;
    background-color: #DCDCC6;
    margin: auto;
    text-align: center;
    margin-top: 150px;

}

.carousel > div{
font-family: Gilda Display, serif;

}

.box > h2{
    padding: 50px;
    color: #6F754D;
}

.box > p{
    color: 	#808000;
}

.box{
    width:100%;
    height:100%;
    flex-shrink: 0;
    color:#6F754D;

}
hr{
    border: 1px solid #6F754D ;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #F4F4E8;
    
}

.social-links{
    text-align: center;
}



#about{
    float:left;
    margin-top: 40px;
    margin-left: 30px;
    padding: 20px;
    width: 50%;
    
    

}
#about > p{
    padding: 10px;
    font-family: Gilda Display, serif ;
    color: #6F754D;
    text-align: justify;

}

#about-header{
   letter-spacing: 4px;
   font-family: Gilda Display, serif;
   margin-bottom: 30px;
 
   
}
    

#tearooms1{
    background: url('../images/tearooms_1.jpeg') no-repeat center;
    height: 300px;
    width: 320px;
    background-size: cover;
    float: right;
    margin: 40px 200px 20px 20px;
   
}

#tearooms2{
    background: url('../images/afternoontea_birthday.jpeg') no-repeat center;
    height: 300px;
    width: 320px;
    background-size: cover;
    float: right;
    margin-right: 40px;
    margin-bottom: 100px;
}


#order-online{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #FFFEF6;
}
#special-requests{
    width: 50%;
    height:50px;
}