@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Gilda+Display&display=swap');


body{
    
    font-family: Dosis, serif;
    color: black;
    background-color: #F4F4E8;
    margin:0;
    padding:0;
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

h1{
    font-family: Gilda Display, serif;
    font-weight: 400px;
    color: #9BA17B;
    letter-spacing: 7px;
    font-size: 250%;
    text-align: center;
    padding: 30px;
   
}

.navbar{
    text-align: center;
    font-size: 130%;
    justify-content: space-between;
    display: flex;
    padding: 30px;
    margin: 0px;
    background-color: #DCDCC6;
   
   
    
}

.navbar li{
    list-style: none;
    display: inline;
    font-family: Gilda Display, serif;
    
  
}

a{
    text-decoration: none;
    color:#6F754D;  
}

.navbar a:hover{
    background-color:#F4F4E8;
    border-bottom: 1px solid;
    
}

.current{ 
    border-bottom: 1px solid;
}





#main-image{
   background: url('../images/tearooms_2.jpeg') no-repeat center;
   height: 700px;
   max-width: 100%;
   background-size: cover;

}

#image-text{
    
    background-color: #FFFEF6;
    font-family: Gilda Display, serif;
    color: #6F754D;
    width: 200px;
    height: 250px;
    bottom:30px;
    left: 30px;
    position: absolute; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    opacity: 0.9;



}
.points{
    height: 400px;
}

#circle-container{
    
    width:100%;
    height:150px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  


}
.points h2{
    text-align: center;
    color:palevioletred;
    font-family: Gilda Display;
    padding: 20px 0 10px 0;
    letter-spacing: 1.5px;
    
}

.circle{
    background-color: #DCDCC6;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #9BA17B;
    float:left;
    text-align: center;
    margin:50px;
    
    
    
}
    
  
.circle-text{

    margin: 10%;
    font-family: Gilda-Display, serif;
    padding: 30px;
    font-size: 130%;
    color: #6F754D;
    
}
.reviews{
    width:100%;
    padding-bottom: 20px;
  
   
}
.reviews div{
    width:25%;
    height:300px;
    background-color:#DCDCC6;
    text-align: center;
    display: table-cell;
    border: 2px solid #F4F4E8;
    box-sizing: border-box;
   
}
.box i{
    text-align: center;
    padding-bottom: 20px;
}

.reviews h2{
    font-family: Gilda Display, serif;
    color:palevioletred;
    text-align: center;
    padding: 20px 0 20px 0;
    letter-spacing: 2px;
    
    

}
.box > p{
    font-family: Gilda Display, serif;
    color:#6F754D;
    padding: 30px;
}

hr{
    border: 1px solid #6F754D ;
}


footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: #6F754D;
    padding:0;
    margin:0;
  
    
}

.social-links{
    text-align: center;
}
.social-links > li{
    display:inline;
}
.social-links i{
    font-size: 30px;
    padding: 30px;
    color:#F4F4E8;

}

.copyright{
    color:#F4F4E8;
    text-align: center;
}
.video{
    text-align:center;
    height: 100vh;
    margin-top: 0 auto;
   
  
}
iframe{
    width:100%;
    height: 85%;

}
.video > h2{
    font-family: Gilda Display, serif;
    color: palevioletred;
    letter-spacing: 2px;
    margin-top: 70px;
    padding-top: 40px;
    background-color: #DCDCC6;
    padding-bottom: 30px;


}

.about{
    text-align: center;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
}



.about > p{
    padding: 10px;
    font-family: Gilda Display, serif ;
    color: #6F754D;
    text-align: justify;

}

.about-header{
   letter-spacing: 4px;
   font-family: Gilda Display, serif;
   margin-bottom: 30px;
   color:palevioletred;
   
 
   
}


.hyperlink{
    color:palevioletred;
}

.tearooms1{
    background: url('../images/tearooms_1.jpeg') no-repeat center;
    height: 300px;
    width: 300px;
    background-size: cover;
    float: left;
    
   
}

.tearooms2{
    background: url('../images/afternoontea_birthday.jpeg') no-repeat center;
    height: 300px;
    width: 300px;
    background-size: cover;
    float: right;
  
    
}

.tea-garden{
    background: url('../images/afternoontea_garden.jpeg') no-repeat center;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    background-size:cover;
    
}
.tea-image{
    background: no-repeat center;
    background-size: cover;
    height: 400px;
    width: 50%;
    padding-top: 10px;
   
}
.tea-image2{
    background: no-repeat center;
    background-size: cover;
    height: 400px;
    width: 50%;
    padding-top: 10px;
}
.form-fields{
    padding: 1em;
    font-family: Gilda Display, serif;

}
.order-online{
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    background-color:#DCDCC6;
    border-radius: 6px;
    padding:10px;
    text-align:center;
}

.legend-title{
    font-family: Gilda Display;
    font-size:20px;
    padding:10px;
    color:#6F754D;
    letter-spacing: 2px;
    
}
#special-requests{
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    resize: none;

}
.menu-link{
    color:palevioletred;
    background-color:#F4F4E8;
    font-size:20px;
   
}


.menu{
    text-align: center;
    
}

.menu-container{
    padding: 20px;
}
.online-menu{
    border: double #6F754D;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color:#FFFEF6;

}

.menu-heading{
    letter-spacing: 2px;
    font-family: Gilda Display,serif;
    padding:10px;
    color:#9BA17B;
    font-size: 35px;
}


.menu-sub, em> p{
    font-family: Gilda Display, serif;
    padding: 3px;
    
}
.menu-sub{
    font-family: Gilda Display, serif;
    padding: 10px;
    color: palevioletred;
}
#order-header > h2{
    text-align: center;
    color: #6F754D;
    font-family: Gilda Display, serif;
    letter-spacing: 2px;
    padding: 10px;
}

#order-button{
    padding: 10px;
    margin: 2px;
}

.float-left{
    width:100%;
    text-align: center; 
    height: 220px;
  
}

#contact-heading{
    font-family: Gilda Display, serif;
    padding: 15px;
    letter-spacing: 2px;
    color:#6F754D;
   

}

.contact-us{
    font-family: Gilda Display, serif;
    padding: 10px;
    color: palevioletred
   

}
.span{
    color:#6F754D;
}

#contact-message{
    height: 350px;
    width: 50%;
    margin: 0 auto;
    background-color:#DCDCC6;
    text-align: center; 
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 40px;

}

fieldset{
    border:none;
}
#contact{
    font-size: 20px;
    font-family: Gilda Display, serif;
    color:#6F754D;
    letter-spacing: 2px;
    padding: 10px;
}
.contact-form{
    padding: 10px;
    font-family: Gilda Display, serif;


}
.contact-button{
    font-family: Gilda Display,serif;
    
}
#contact-legend{
    font-size: 20px;
    
}
#customer-message{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
}

.contact-submit-message{
    text-align: center;
}
.contact-submit-message > h2{
    font-family: Gilda Display, serif;
    letter-spacing: 2px;
    color: #808000;
    font-size: 40px;
    padding: 20px;


}

.contact-submit-message > p{
    font-size: 20px;
    color:#808000;
    padding: 10px;
}

.thanks-for-ordering{
    text-align: center;
    
}
.thanks-for-ordering > h2{
    font-family: Gilda Display, serif;
    letter-spacing: 2px;
    font-size: 40px;
    padding: 20px;
    color:#808000;
}
.thanks-for-ordering > p{
    font-size: 20px;
    color:#808000;
    padding:10px;
}

@media screen and (max-width:1250px){



    .tearooms1{

        height: 200px;
        width: 200px;

    }

    .tearooms2{
        height:200px;
        width:200px;
    }

    .tea-garden{
        height:200px;
        width:200px;

    }
}
    @media screen and (max-width: 850px){

    

        .tearooms1{
            padding:0;
            height: 160px;
            width: 160px;
    
        }
    
        .tearooms2{
            height:160px;
            width:160px;
        }
    
        .tea-garden{
            height:160px;
            width:160px;
    
        }
    .about{
        padding:0px;
      
    }
        
    
}
@media screen and (max-width: 950px){


    
    .points{
        height:fit-content;
    }
    #circle-container{
        display:table-cell;          
    }

    .circle{
        clear:both;
            }
    .reviews div{
        width:100%;
        clear: both;
        padding:0;
        height:fit-content;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
    }
}
    

@media screen and (max-width: 600px){
    .image-container > div{
        clear:both;
        margin: 0 auto;
        padding: 10px;
        width: 100%;
        object-fit: cover;
        
    }
    .image-container{
        width: 100%;
        vertical-align:auto;
        height:100%;
        
    }
   
}
    


@media screen and (max-width: 470px){
    #main-image{
        width: 100%;
        height: 40vh;
    }
  
    #image-text{
        height: 12vh;
        font-size: 40%;
        top: 400px;
      

    }
    .video{
        height:800px;
        width:100%;
        margin-bottom: 30px;
    }
    iframe{
        width:100%;
       
    }
   
}